p{
  word-wrap: normal;
}
body {
  background-color: #2f4858;
  color: #d3d3d3;  
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
  color: #f0ffff;
}

a:hover{
  color: #daa520;
  text-decoration: underline;
}

img{
  width: 100%;
}

header {
  background-color: #152128;
  padding: 10px 20px;
  height: 100%;
  text-align: center;
  border-bottom: 5px solid #daa520;

}

header h1{
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 2.25rem;
  text-transform: uppercase;
  letter-spacing: 8px;
}

nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

nav ul li{
  display: inline;
  padding: 0 30px;
  font-size: 1.1rem;
}

main{
margin: 0 auto;
background-image: url("https://images.unsplash.com/photo-1585314062340-f1a5a7c9328d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
padding-bottom: 10px;

}

.main-top{
background-color: #152128;
padding-bottom: 5px;
margin-bottom: 10px;
}

.main-top img{
height: 30vh;
object-fit: cover;
}

.main-top p{
  font-size: 1.25rem;
  text-align: center;
}

.main-top p small{
  font-style: italic;
}

#collection {
  width: 90%;
  margin: auto;
}


.post{
  border: 3px solid goldenrod;
  background-color: rgba(0, 0, 0,0.4);
  margin: 15px 0;
  padding: 10px;
}

.content{
  padding: 5px;
}

.content figure,
.content section{
  display: inline-block;
}

.content img{
  width: 25%;
}

.content img{
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.content section{
  width: 75%;
  padding: 0 10px;
}

.content section p{
  margin-top: 0;
}

footer{
  /* position: sticky; */
  bottom: 0;
  text-align: center;
}




